<div class="h-screen w-full dark:bg-black flex justify-center relative font-josefin">
  <div>
    <img [src]="this.currentTheme === 'light' ? 'images/bg-desktop-light.jpg' : 'images/bg-desktop-dark.jpg'" alt="" />
  </div>
  <div class="absolute h-40 w-1/2 top-[8%] space-y-6">
    <div class="flex justify-between mb-10">
      <p class="text-white text-4xl font-bold uppercase tracking-widest">
        Todo
      </p>
      <div (click)="toggleTheme()">
        <lucide-icon [name]=" this.currentTheme === 'light' ? icons.Moon : icons.Sun " color="white" size="30"></lucide-icon>
      </div>
    </div>
    <div class="dark:bg-myDarkBlue-600 p-4 flex items-center bg-white rounded-lg shadow-lg">
      <div
        class="w-6 aspect-square border rounded-full mr-4 dark:opacity-25 border-myDarkBlue-500 dark:border-myDarkBlue-300"
      ></div>
      <input
        type="text"
        pInputText
        class="w-full bg-transparent self-center text-lg outline-none text-myDarkBlue-300 font-semibold"
        placeholder="Create a new todo..."
        (keydown)="onEnter($event)"
      />
    </div>
    <div class="dark:bg-myDarkBlue-600 bg-white rounded-lg shadow-md">
      <div>
        <router-outlet></router-outlet>
      </div>
      <div class="text-myDarkBlue-300 flex justify-between py-4 px-3">
        <p>{{ list.length }} items left</p>
        <div class="flex space-x-3 cursor-pointer font-semibold" (click)="getRoute()">
          <p class="hover:text-myBlue-200" [class]="currentRoute == '' ? 'text-myBlue-200' : '' " routerLink="/">All</p>
          <p class="hover:text-myBlue-200" [class]="currentRoute == 'active' ? 'text-myBlue-200' : '' " routerLink="/active">Active</p>
          <p class="hover:text-myBlue-200" [class]="currentRoute == 'completed' ? 'text-myBlue-200' : '' " routerLink="/completed">Completed</p>
        </div>
        <p class="hover:text-myBlue-200 cursor-pointer font-semibold"
        (click)="delCompleted()">Clear Completed</p>
      </div>
    </div>
  </div>
</div>
